body {
	margin: 0;
	font-family: sans-serif;
}

a {
	color: #003c78;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: justify;
}

/* IDs and Classes */
#mobile-nav {
	display: none;
}

#navbar-toggle {
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: 2;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 40px;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	cursor: pointer;
}

.navbar {
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}

.navbar-links {
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding-left: 0;
	list-style: none;
	background-color: rgba(0,0,0,0.8);
}

.navbar-links li {
	display: block;
	float: left;
}

.navbar-links a {
	display: block;
	padding: 20px;
	color: #fff;
	font-family: monospace;
}

.navbar-links a:hover,
.navbar-links a:focus {
	background-color: #222;
	text-decoration: none;
}

.navbar-links .active {
	background-color: #444;
	font-weight: bold;
}

.section-1 {
	width: 100%;
	height: 500px;
	position: relative;
	padding-top: 250px;
	box-sizing: border-box;
	background-color: #000;
	background-image: url("images/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.group-name {
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-family: monospace;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 2px 4px #000;
}

.description {
	margin: 0;
	font-family: monospace;
	font-size: 20px;
	font-weight: normal;
	color: #fff;
	text-align: center;
	text-shadow: 0 2px 4px #000;
}

.section-2 {
	position: relative;
	padding-left: 100px;
	padding-right: 100px;
	box-sizing: border-box;
	background-color: #f9f9f9;
}

.section-title {
	margin-top: 0;
	margin-bottom: 80px;
	padding-top: 80px;
}

.section-link {
	color: #888;
	font-size: 40px;
	font-weight: bold;
}

.student-cards {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}

.card {
	flex: none;
	width: 300px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
	padding: 40px;
	background-color: #fff;
	box-shadow: 0 0 16px 0 rgba(0,0,0,0.1);
	color: #222;
	border-radius: 4px;
}

.profile {
	display: block;
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}

.student-name {
	margin-top: 40px;
	margin-bottom: 20px;
}

.info-container {
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 300px;
	overflow: hidden;
}

.icon {
	display: inline-block;
	flex: none;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center;
	line-height: 1;
	vertical-align: top;
	opacity: 0.5;
}

.icon.github {
	background-image: url("assets/github.svg");
}

.icon.email {
	background-image: url("assets/email.svg");
}

.button {
	display: block;
	padding: 10px;
	background-color: #ddd;
	color: #222;
	font-weight: bold;
	text-align: center;
	border-radius: 4px;
}

.button:hover,
.button:focus {
	background-color: #bbb;
	text-decoration: none;
}

/* Media rules */
@media screen and (min-width: 720px) {
	#navbar-toggle {
		display: none;
	}
}

@media screen and (max-width: 719px) {
	#mobile-nav + label::before {
		content: "≡";
	}

	#mobile-nav:checked + label::before {
		content: "×";
	}

	#mobile-nav:checked ~ .navbar-links {
		display: block;
		padding-top: 60px;
	}

	#mobile-nav:checked ~ .navbar-links > li {
		float: none;
	}

	.navbar-links {
		display: none;
	}
}
